:root {
    --very-dark-turquoise: #006666;
    --mostly-desat-dark-cyan: #5F9EA0;
    --lightest-grey:#F7F7F7;
    --lighter-grey:#F2F2F2;
    --light-grey:#E0E0E0;
    --grey:#C8C8C8;
    --dark-grey:#BDBDBD;
    --darker-grey:#808080;
    --darkest-grey:#333333;
    --transparent-color:rgba(0,0,0,0);
    --about-color:#0963DC;
    
    --chatbox-green: #006666;
    --background-jade:#5F9EA0;
    --text-color: #F5FFFA;
    --lighter-jade: #008B8B;
    --user-listing: #7FFFD4;
}
/*standard container for any component*/
.container {
    overflow:hidden;
    border-radius: 15px;
    background: var(--light-grey);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    padding: 10px;
    margin:0;
    text-align: center;
    align-content: center;
    justify-content: center;
}

h2.header {
    position:fixed;
    font-size: 32px;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    top: 0px;
    left:0px;
    right:0px;
    text-align: center;
    align-content: center;
    justify-content: center;
    background: linear-gradient(180deg, var(--mostly-desat-dark-cyan) 0%, var(--transparent-color) 100%);
    padding: 15px;
    width: 100%;
}


html,body {
    background: var(--mostly-desat-dark-cyan);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /*font-family: Avenir;*/
    text-align: center;
    align-content: center;
    justify-content: center;
    overflow:hidden;
}

button {
    border: none;
    border-radius: 10px;
    background: var(--grey);
    color: var(--darkest-grey);
    padding: 5px;
    width: auto;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16pt;
}
#main {
    margin: 0;
    padding: 0;
}

#content {
    border: 0;
    margin: 0;
    background: var(--background-jade);
    border-radius: 25px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

/*all the room choices and buttons view*/
#loggedInContent {
    text-align: center;
    display: block;
    /*align-content: center;*/
    /*justify-content: center;*/
    margin: 50px 0px 0px 0px;
    /*padding: 10px;*/
    /*min-width: 150px;*/
    /*background: grey;*/
}

/*login page with google button*/
#loginScreen {
    margin: 10vh auto 10vh auto;
    width: 30%;
    text-align: center;
    align-content: center;
    justify-content: center;
    /*padding: 10px;*/
    display: inline-block;
    overflow:hidden;
}
/*chatbox icon*/
#loginScreen h2 {
    /*font-size: 20vw;*/
    padding: 10px;
    margin-top: 30px;
    background: var(--chatbox-green);
    border-radius: 25px;
    display: block;
    font-size: 28pt;
}

.overlay {
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
    height:20px;
    width: auto;
    background:black;
    background: linear-gradient(180deg, rgba(95,112,160,1) 0%, rgba(95,112,160,0.6909138655462185) 12%, rgba(95,112,160,0) 50%, rgba(95,112,160,0.5676645658263305) 83%, rgba(95,112,160,1) 100%);
}

#grid_container > .container {
    /*width: 30vw; */
    width:auto;
    height: 80vh;
    overflow:none;
    /*background:none;*/
    box-shadow:none;
}

#grid_container > .container.userListing {
    overflow:scroll;
}

#chatbox.container {
    position:relative;
    height: 50%/*calc(80vh - 150px)*/;
    width:70%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.chat_messages {
    text-align: center;
    color: black;
    background: var(--lightest-grey);
    border:1px solid var(--grey);
    height: 100%/*calc(80vh - 20px - 80px - 130px)*/;
    border-radius: 5px;
    margin:0;
}

#registered_message.container {
    margin: 10px;
    width: auto;
    text-align:left;
    padding-left: 10px;
    border-radius:5px;
}


/*chatbox buttons*/
.submitButton #message_input {
    width: calc(100% - 70px);
    margin: none;
}
.submitButton {
    width: 60px;
}

.submitButton{
    display: block;
    background: var(--lighter-grey);
    border:1px solid var(--grey);
    border-radius: 10px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left:10px;
}

/*user listing: part of chat-user-container*/
#userListing.container {
    border: 5px solid var(--light-grey);
    font-size: 14pt;
    vertical-align: top;
    display: inline-block;
    height: 50%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}

.userListing > #user {
    text-align: center;
    margin:10px;
    padding-left:20px;
    border-radius:5px;
    color:var(--darkest-grey);
}

.userListTitle {
    color: black;
    text-decoration: underline;
}

.img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.badLoginMessage {
    color: red;
    font-size: 14pt;
}

.badCreationMessage {
    color: red;
    font-size: 14pt;
}

.createAccountContainer {
    overflow:hidden;
    border-radius: 15px;
    background: var(--light-grey);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    padding: 10px;
    margin:0;
    text-align: center;
    align-content: center;
    justify-content: center;
    color: black;
    display: inline-block;
    font-size: 14pt;
}

.LoginContainer {
    overflow:hidden;
    border-radius: 15px;
    background: var(--light-grey);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    padding: 10px;
    margin:0;
    text-align: center;
    align-content: center;
    justify-content: center;
    color: black;
    display: inline-block;
    font-size: 14pt;
}

.loginEmail {
    width: 70%;
    display: inline-block;
}

.loginPassword {
    width: 70%;
    display: inline-block;
}

.createEmail {
    width: 70%;
    display: inline-block;
    font-size: 14pt;
}

.createUsername {
    width: 70%;
    display: inline-block;
}

.createPassword {
    width: 70%;
    display: inline-block;
}

.createAccBox {
    width: 80%;
    text-align: center;
    align-content: center;
    justify-content: center;
    /*padding: 10px;*/
    display: inline-block;
    overflow:hidden;
}

.loginBox {
    width: 80%;
    text-align: center;
    align-content: center;
    justify-content: center;
    /*padding: 10px;*/
    display: inline-block;
    overflow:hidden;
}
